---
# Run in all servers Ansible knows about
- hosts: all
  become: true
  
  tasks:
    - name: Update cache
      apt:
        update_cache: yes

    - name: Install required packages
      apt:
        name: "{{ item }}"
        state: present
      with_items:
        - apache2 
        - mysql-server
        - php5
