---
# Run in all servers Ansible knows about
- hosts: all
  sudo: true
  
  tasks:
    - name: Update cache
      apt:
        name: *
        state: latest

    - name: Install Apache server
      apt:
        name: apache2
        state: present

    - name: Install Mysql server
      apt:
        name: mysql-server
        state: present
 
    - name: Install php
      apt:
        name: php5
        state: present 
