---
# Run in all servers Ansible knows about
- hosts: all
  become: true

  vars:

    document_root: /vagrant
  
  pre_tasks:

    - name: Update cache
      apt:
        update_cache: yes

  roles:
  
    - webserver
    - database

