---
# Run in all servers Ansible knows about
- hosts: all
  become: true
  
  tasks:
    - name: Update cache
      apt:
        update_cache: yes

    - include: tasks/apache.yml
    - include: tasks/mysql.yml
    - include: tasks/php.yml
